.containerNavbar {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.911);
}

.navbarUl {
  display: flex;
  gap: 40px;
}

.navbarLi {
  list-style: none;
}

.navbarAn {
  color: white;
  text-decoration: none;
}

.navbarImg {
  width: 10rem;
  height: 6rem;
  color: white;
}
